.float-left {
    float: left;
}
.float-right {
    float: right;
}
.text-center {
    text-align: center;
}
.for-list {
    border-radius: 0.2rem;
    height: 31px;
    line-height: 20px;
}
.danger {
    color: red;
}
.slider {
    background-color: #04acbb;
}
.title_slide {
    font-weight: bold;
    color: #515379;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-top-10 {
    margin-top: 10px;
}

.margin-right-5 {
    margin-right: 5px;
}
.margin-right-10 {
    margin-right: 10px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-left-5 {
    margin-left: 5px;
}
.margin-left-10 {
    margin-left: 10px;
}
.border-radius-5 {
    border-radius: 5px
}
